.authentication_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    row-gap: 40px;
}

.navigate {
    font-size: 15px;
    font-weight: bold;
}

.navigate:hover {
    cursor: pointer;
}
