.company_blocked_list_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
    padding: 20px 10px;
}


.blocked_list_header {
    font-size: 18px;
    color: teal;
    font-weight: 600;
}


.blocked_users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    width: 90%;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 30px;
}

.modal > h1 {
    color: teal;
    font-weight: bold;
    font-size: 28px;
    text-align: center;
}
